.content-card {
    height: 20vh;
    width: 40vw;
    margin: auto;
    margin-top: 10vh;
}
.content {
    border: 2px solid black;
    padding: 0vw 1vw 0vw 1vw;
    text-align: center;
}
.mail {
    font-size: 5vh;
}
.download-text {
    font-size: 4vh;
    padding-right: 20px;
}
.download-btn {
    font-size: 28px;
    background-color:rgb(0, 185, 0);
    border-radius: 5px;
    padding: 1vh 2vw 1vh 2vw;
}
a {
    font-size: 2vh;
    font-weight: bold;
    margin-left: 3vw;
    vertical-align: middle;
}
img {
    padding-left: 0.5vw;
    vertical-align: middle;
    width: 25px;
}